/**
 * Base site styles
 */
html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  margin: 0px;
  font-size: 15px;
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Base elements rules
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * Cancel default list styles
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * Cancel default pre tag styles
 */
pre {
  margin: 0;
}

/**
 * Clearfix for float elements
 */
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
