@import './custom-properties.css';

/**
 * Base site styles
 */
html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  overflow: hidden;

  font-size: 15px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Base elements rules
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * Cancel default list styles
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * Cancel default pre tag styles
 */
pre {
  margin: 0;
}

/**
 * Clearfix for float elements
 */
.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.button {
  &--search {
    @apply --font-serif-main;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    font-size: 20px;

    line-height: 50px;
    text-transform: uppercase;

    background-color: #f6c23d;
    border: none;
    cursor: pointer;

    svg {
      margin-left: 20px;
    }
   }
}

.v--modal-overlay {
  background: rgba(0, 0, 0, 0.78) !important;
}
