name: Build and deploy

on: [push]

env:
  DOCKER_IMAGE_NAME: dhcenter/st-retrospect-frontend

jobs:

  build_and_deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repozitory
        uses: actions/checkout@v1

      - name: Build the Docker image
        run: docker build . -t $DOCKER_IMAGE_NAME


      - name: Extract branch name
        run: echo "::set-env name=BRANCH_NAME::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"

      - name: Push to Docker Hub
        if: endsWith(github.ref, '/stage') || endsWith(github.ref, '/prod')
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker tag $DOCKER_IMAGE_NAME $DOCKER_IMAGE_NAME:$BRANCH_NAME
          docker push $DOCKER_IMAGE_NAME:$BRANCH_NAME
          docker logout

      - name: Deploy
        uses: garygrossgarten/github-action-ssh@v0.3.0
        with:
          command: cd ~/st-retrospect/${{ $BRANCH_NAME }}/frontend && ./deploy.sh
          host: ${{ secrets.SERVER_HOST }}
          username: root
          privateKey: ${{ secrets.PRIVATE_KEY }}

